<%= render 'admin/header' %>

<%= form_tag admin_login_path, {'role' => 'form', 'class' => 'form-inline'} do %>
  <div class="form-group">
    <label for="password">Password</label>
    <%= password_field_tag :password, "", class: "form-control" %>
  </div>
  <%= submit_tag "Login", :class => "btn btn-default" %>
<% end %>
